.body {
    background-color: rgb(177, 255, 229);
}
.gif {
    margin: 5px;
    width: 80px;
    height: 40px;
    border-radius: 2px;
    font-family: 'Patrick Hand', cursive;
    font-size: 16pt;
}
#gif-search {
    font-family: 'Patrick Hand', cursive;
    font-size: 20pt;
    padding-left: 6px;
}
#animal-input {
    height: 30px;
    width: 200px;
    margin: 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 16pt;
}
#add-animal {
    font-family: 'Patrick Hand', cursive;
    font-size: 16pt;
    margin: 5px;
    width: 120px;
    height: 40px;
    border-radius: 2px;
}
#submit-text {
    margin-top: 10px;
    margin-left: 5px;
}
